[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chandra/Desktop/EasyEDA.desktop]
row=5
col=0

[/home/chandra/Desktop/Proteus 8 Professional.lnk]
row=3
col=0

[/home/chandra/Desktop/Proteus 8 Professional.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/chandra]
row=2
col=0

